/* Eléments principaux de la page */

body
{
	background-color: rgba(69,153,176,0.7);
	font-family: verdana;
	color: purple;
}

#bloc-page
{
	width:900px;
	margin:auto;
}

section h1, footer h1, nav a
{
	font-family: Verdana, serif;
	font-weight: normal;
	text-transform: uppercase;
}

/* Header */
header
{
	background: url(contenu/walle.jpg) repeat-x bottom;
	display: flex; 
	justify-content: space-between;
	align-items: flex-end;
}
header h1
{
	color: purple;
	font-size: 25px ;
	font-family: Verdana;
	font-style: italic;
	text-align: center;
	text-shadow: 2px 8px 8px black;
	position: static;
}	

#titre-principal
{
	display: flex;
	flex-direction: row;
	width: 500px;
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#logo img
{
	width: 180px;
	height: 90px;
}


#bloc-page
{
	border: solid orange;
}

nav
{
	border: solid rgb(131, 101, 5);
}
/* Navigation*/

nav ul
{
	list-style: none;
	display:flex;
}

nav li
{
	margin-right: 15px;
}

;nav a
{
	font-size: 1.3em;
	color: #181818;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover
{
	color: #760001;
	border-bottom: 3px solid #760001
}

/* Bannière */

#SceenSkylin
{
	margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('contenu/sanfrancisco.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#Skylin-description
{
	position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.6);
    color: white;
    font-size: 0.8em;
}

.bouton-rouge
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('contenu/fond-degrader-rouge.jpg') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton-rouge img
{
	border: 0;
}

/* Corps */

section
{
	display: flex;
	margin-bottom: 20px;
}

article
{
	text-align: justify;
	margin-right: 20px;
	flex: 3;
}

.ico_categorie
{
	vertical-align: middle;
	margin-right: 8px;
	width: 15%;
	height: 15%;
}

article p
{
	font-size: 0.8em;
}

aside
{
	flex: 1.2;
	position: relative;
	background-color: #706b64;
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 0.9em;
	text-align: center;
}
aside img
{
	margin-right: 5px;
	height: 85%;
	margin-top: 30px;

}

h1
{
	font-size: 15px;
	text-align: center;
}
/*#fleche_bulle
{
	position: absolute;
	top:100px;
	left: -12px;
}

/* Footer */

footer
{
	display: flex;
    background:  url('contenu/ico_top.png') no-repeat top center, url('contenu/separateur.png') repeat-x top, url('contenu/ombre.png') repeat-x top;
    padding-top: 25px;
}

footer p,footer ul
{
	font-size: 0.8em;
}

footer h1
{
	font-size: 1.1em;
}

#dernierdonjon
{
	width: 28%;
	border-color: #760001;
	text-align: center;
}

#Screenshot
{
	width: 35%;
	border: solid yellow;
	align-items: center;
}

#mes-autres-classes
{
	width: 31%;
	height: 31%;
	list-style: none;
	border: solid red;
}

#Screenshot img
{
	border: 1px solid #181818;
	margin-right: 2px;
	width: 45%;
	height: 45%;
	align-items: center;
}

#listes-classes
{
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	border: solid blue;
}

#listes-classes a
{
	text-decoration:none;
	color: #760001;
	text-align: center;
	border: solid green;
	
}